@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-display: "Outfit", ui-sans-serif, system-ui;
  --font-mono:
    "JetBrains+Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-primary: #1d4ed8; /* blue-700 */
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-sans);
  background-color: var(--color-slate-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
